
.todo{
    background-color: white;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
}

.todo__id{
    font-size: small;
}

.todo__marked{
    background-color: black;
    color: yellow;
    border-radius: 0.5rem;
}

.todo > button{
    padding: 0.1rem 1rem;
    border-radius: 0.2rem 1rem;
    outline: none;
    border: none;
}

.footer{
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: small;
    letter-spacing: 1px;
}

.header__links{
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
}

.header__links span{
    padding: 0 0.5rem;
}

.current__tab{
    background-color: black;
    color: white;
}